@model TaskControl.Models.Task

@{
    ViewBag.Title = "Delete";
}

<section class="featured" >
<h2 style="padding-bottom:10px; padding-top:10px; margin-bottom:40px; font-family:Helvetica; font-weight:lighter">Delete</h2>

<h3>Are you sure you want to delete this?</h3>

@using (Html.BeginForm()) {
    <p>
        <button class="newBtn" onclick="location.href='@Url.Action("Delete")'">Delete</button>
    </p>
    <div style="margin-top:40px;">
        @Html.ActionLink("Back to List", "Index", null, new { @class = "backlink" }) 
    </div>
}
</section>
